<?xml version="1.0" encoding="UTF-8" ?>

<suite name = "Selenium Code Challenge">
    <test name = "smoke">
        <classes>
            <class name = "uitests.LoginTest"/>
            <class name = "uitests.UserTest"/>
            <class name = "uitests.TweetTest"/>
        </classes>
    </test>
</suite>